.App {
  text-align: center;
  padding: 5rem;
  background-color: rgba(241, 174, 87, 0.6);
  color: papayawhip;
}

#pizza-form {
  margin: 3vh;
}

.pizza-button {
  background-color: #cc4716;
  border: 3px solid #b13c12;
  border-radius: 100%;
  height: 4rem;
  width: 4.5rem;
  font-weight: 700;
  font-size: larger;
  color: papayawhip;
}

#order-button {
  background-color: #cc4716;
  border: 3px solid #b13c12;
  height: 4rem;
  width: 9rem;
  border-radius: 100%;
  font-weight: 700;
  font-size: larger;
  color: papayawhip;
}

#special-text {
  width: 20rem;
  height: 3rem;
}